@font-face {
    font-family: "Titillium";
    src: url("/static/TitilliumWeb.ttf")
}

* {
    margin: 0;
    font-family: "Titillium";
}

input, button, a {
    all: unset;
}

html, body {
    height: 100%;
    width: 100%;
    background: #11151E;
}

.centre {
    position: relative;
    display: table;
    width: 488px;
    top: calc(50% - 100px);
    left: calc(50% - 244px);
}

.title {
    text-align: center;
}

.title img {
    width: 300px;
}

.searchbar input,
.searchbar button {
    background: #292f3e;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #EDCDBC;
    fill: #EDCDBC;
}

.searchbar input {
    width: 420px;
    height: 30px;
    float: left;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
}

.searchbar button {
    /* width: 40px; */
    height: 30px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
}

.searchbar button svg {
    margin-top: 1px;
    height: 28px;
    cursor: pointer;
}