@font-face {
    font-family: "Titillium";
    src: url("/static/TitilliumWeb.ttf")
}

* {
    margin: 0;
    font-family: "Titillium";
}

input, button, a {
    all: unset;
}

html, body {
    height: 100%;
    width: 100%;
}

.centre {
    position: relative;
    height: 200px;
    width: 50%;
    top: 25%;
    left: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    text-align: center;
}

.title p {
    color: #c0d0e7;
    font-family: "century gothic";
    font-size: 20px;
    margin-right: 10px;
    display: inline-block;
}

.title h1 {
    color: #75abf1;
    font-family: "century gothic";
    text-align: center;
    font-size: 60px;
    display: inline-block;
}

.searchbar {
    padding-left: 20%;
    padding-right: 20%;
}

.searchbar input,
.searchbar button {
    background: #edf5ff;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #616d7d;
    fill: #616d7d;
}

.searchbar input {
    width: 84%;
    height: 30px;
    float: left;
    padding-left: 4%;
    border-radius: 10px 0 0 10px;
}

.searchbar button {
    width: 8%;
    height: 30px;
    float: right;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 0 10px 10px 0;
}

.searchbar button svg {
    margin-top: 1px;
    height: 28px;
    cursor: pointer;
}