html, body {
    height: auto;
    background: #292f3e;
}

.menubar {
    top: 0;
    position: sticky;
    height: 40px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 1px 2px 8px 1px #1c212c;
    background: #11151E;
}

.title {
    display: table-cell;
    text-align: center;
    height: 100%;
    width: 300px;
    min-width: 300px;
    cursor: pointer;
}

.title img {
    height: 40px;
    width: auto;
    vertical-align: bottom;
}

.searchbar {
    padding: 0;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
}

.searchbar input,
.searchbar button {
    padding: 0;
}

.searchbar input {
    width: 300px;
    height: 40px;
    float: none;
    padding-left: 10px;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
}

.searchbar button {
    width: 35px;
    height: 40px;
    float: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 6px 6px 0;
    vertical-align: bottom;
}

.searchbar button svg {
    margin-top: 7.5px;
    margin-bottom: 1px;
    height: 25px;
    cursor: pointer;
}

.options {
    border-bottom: #4e5e5e49 1px solid;
    height: 40px;
    width: 100%;
}

.results {
    height: calc(100% - 80px);
    max-height: 100%;
    text-align: center;
}

.results h1 {
    padding-top: 40px;
    font-size: 20px;
    color: #616d7d;
}

.result {
    vertical-align: middle;
    display: inline-block;
    width: 300px;
    margin: 50px;
    padding: 14px;
    border-radius: 6px;
    background: #11151E;
  	-webkit-box-shadow: 2px 2px 8px 1px #1c212c;
}

.result h1 {
    padding-top: 10px;
}

.result h1 a {
    font-size: 20px;
    color: #EDCDBC;
    cursor: pointer;
}

.result h3 {
    font-size: 12px;
    color: #424b5d;
}

.result h2 {
    all: unset;
    font-size: 14px;
    background: #1c212c;
    color: #f6eae3;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    line-height: 30px;
}

.result p {
    color: #616d7d;
    height: 200px;
    max-height: 200px;
    overflow: scroll;
    padding: 2px;
}

.result a {
    color: #FFF;
    font-size: 12px;
    cursor: pointer;
}